{% extends 'base.html.twig' %}

{% block title %}Modifier {{ user.fullName }} · Huttoboard{% endblock %}

{% block body %}
    <div class="breadcrumb"><a href="{{ path('app_user_index') }}">Utilisateurs</a> / {{ user.fullName }}</div>
    <div class="page-head"><h1>Modifier l'utilisateur</h1></div>

    <div class="card form-card"><div class="card-body">
        {% include 'user/_form.html.twig' with {submit_label: 'Enregistrer'} %}
    </div></div>
{% endblock %}
